
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .login-container {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 350px; 
  }

  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    margin: 25px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .form-group input {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .form-group button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    width: 100%;
    cursor: pointer;
  }


  .register-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
  }
  
  .register-link a {
    color: #007bff;
    text-decoration: none;
  }